/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* ALL SIMILAR CONTENT */
html,
body {
  overflow-x: hidden;
}

header,
main,
section {
  padding: 6.25rem 0;
}

header,
main,
section,
footer {
  font-family: "Poppins", sans-serif;
}

.max-width {
  margin: auto;
  padding: 0 5rem;
  max-width: 90rem;
}

main .title::before,
section .title::before {
  content: "";
  background: hsl(210.1, 100%, 50%);
  width: 18.75rem;
  height: 0.3125rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

header,
main,
section {
  background: hsl(212.7, 100%, 6.5%);
  background-image: url("./assets/images/checkered-pattern.png");
  color: hsl(0, 0%, 100%);
}

main h2 span,
section h2 span {
  background: hsl(212.7, 100%, 6.5%);
  padding: 0 0.625rem;
  position: relative;
  z-index: 5;
}

main .title,
section .title {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3.75rem;
  padding-bottom: 1.25rem;
  position: relative;
  text-align: center;
}

.about-content,
.interests-content,
.projects-content,
.courses-content,
.contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.interests-content .card,
.projects-content .card,
.courses-content .card {
  background: hsl(212.1, 100%, 19.4%);
  margin-bottom: 3.125rem;
  padding: 1.25rem 1.5625rem;
  width: calc(33% - 1.25rem);
  text-align: center;
  border-radius: 6px;
}

.interests-content .card:hover,
.projects-content .card:hover,
.courses-content .card:hover {
  box-shadow: 0 0 12px 1px hsl(210.1, 100%, 50%);
  transition: all 0.2s ease;
}

.interests .interests-content .card .box,
.projects .projects-content .card .box,
.courses .courses-content .card .box {
  transition: all 0.2s ease;
}

.interests .interests-content .card:hover .box,
.projects .projects-content .card:hover .box,
.courses .courses-content .card:hover .box,
.skills .tech-icons:hover {
  transform: scale(1.02);
}

.projects .projects-content .card .project-img,
.courses .courses-content .card .course-img {
  width: 100%;
  height: auto;
}

/* LOADER */
.load {
  display: grid;
  background-color: hsl(212.7, 100%, 6.5%);
  background-image: url("./assets/images/checkered-pattern.png");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  place-items: center;
  z-index: 1000;
}

.load__gif {
  width: 13.125rem;
}

/* NAVBAR */
nav {
  background: hsl(209.5, 100%, 22%, 0.5);
}

.navbar {
  font-family: "Ubuntu", sans-serif;
  padding: 1.25rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  transition: all 0.3s ease;
  z-index: 100;
}

.navbar #sticky {
  padding: 0.9375rem 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  color: hsl(0, 0%, 100%);
  font-size: 2.1875rem;
  font-weight: 600;
}

.navbar .logo span {
  color: hsl(212.1, 100%, 19.4%);
}

.navbar .menu li {
  display: inline-block;
  list-style: none;
}

.navbar .menu li a {
  display: block;
  color: hsl(0, 0%, 100%);
  font-size: 1.125rem;
  font-weight: 500;
  margin-left: 1.5625rem;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: hsl(212.1, 100%, 19.4%);
}

.navbar #sticky .menu li a:hover {
  color: hsl(0, 0%, 100%);
}

/* MENU BTN */
.menu-btn {
  display: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.4375rem;
  cursor: pointer;
}

/* HOME */
.home {
  display: flex;
  color: hsl(210.1, 100%, 50%);
  height: 100vh;
  font-family: "Ubuntu", sans-serif;
  -webkit-text-stroke: 0.5px hsl(0, 0%, 100%);
}

.home .bg-img {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.home .max-width {
  margin: auto 0 auto 1.875rem;
  z-index: 2;
}

.home .home-content .text-1 {
  font-size: 1.6875rem;
}

.home .home-content .text-2 {
  margin-left: -0.1875rem;
  font-size: 4.6875rem;
  font-weight: 600;
}

.home .home-content .text-3 {
  color: hsl(0, 0%, 100%);
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0.3125rem 0;
}

/* ABOUT */
.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 6px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  margin-bottom: 0.625rem;
  font-size: 1.5625rem;
  font-weight: 600;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: hsl(210.1, 100%, 50%);
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 1.25rem;
  padding: 0.625rem 1.875rem;
  border: 2px solid hsl(210.1, 100%, 50%);
  border-radius: 6px;
}

.about .about-content .right a:hover {
  background: none;
  color: hsl(210.1, 100%, 50%);
}

/* INTERESTS */
.interests .interests-content .card .interests-imgs {
  width: 8.125rem;
  height: 8.125rem;
}

.interests .interests-content .card .text {
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 0.625rem 0 0.4375rem 0;
}

/* SKILLS */
.skills .skills-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin: 0 auto;
  max-width: calc(90% - 1.25rem);
}

.skills .skills-content .text {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.625rem 0 0.4375rem 0;
  text-align: center;
}

.skills .tech-icons {
  background-color: hsl(212.1, 100%, 19.4%);
  justify-self: center;
  align-self: center;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.skills .tech-icons:hover {
  box-shadow: 0 0 0.5rem 0.1875rem hsl(210.1, 100%, 50%);
}

/* PROJECTS */
.projects .projects-content .card .text {
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 0.625rem 0 0.4375rem 0;
}

.projects .projects-content .card p {
  padding-bottom: 1.5625rem;
}

.projects .btn-code,
.projects .btn-demo {
  color: hsl(0, 0%, 100%);
  font-size: 1rem;
  padding: 0.625rem 0.9375rem 0.625rem 0.9375rem;
  border: hsl(210.1, 100%, 50%) solid 2px;
  border-radius: 4px;
}

.projects .btn-code {
  background: hsl(210.1, 100%, 50%);
}

.projects .btn-code:hover {
  background: none;
  border: hsl(210.1, 100%, 50%) solid 2px;
}

.projects .btn-demo:hover {
  background: hsl(210.1, 100%, 50%);
}

/* EXPERIENCES */
.experiences {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.experiences .experiences-content {
  margin-left: 13rem;
  padding: 0 2.5rem;
  width: calc(30% - 2rem);
  text-align: center;
}

.experiences .dates ul {
  background-color: hsl(212.1, 100%, 19.4%);
  background-image: url("./assets/images/checkered-pattern.png");
  margin: 0 auto;
  padding: 5rem;
  width: 70vw;
  position: relative;
  right: 6.25rem;
  text-align: left;
  border-left: 4px solid hsl(0, 0%, 100%);
  border-radius: 0.8rem;
  list-style: none;
}

.experiences h4 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.experiences h3 {
  color: hsl(210.1, 100%, 50%);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.experiences .dates .circle {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: 1px solid hsl(210.1, 100%, 50%);
}

.experiences .dates .circle:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.experiences .dates .circle::before,
.experiences .dates .circle::after {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.experiences .dates .circle::before {
  font-size: 1rem;
  left: -21rem;
  text-align: right;
}

.experiences .dates .circle::after {
  content: "";
  background-color: hsl(210.1, 100%, 50%);
  width: 0.8rem;
  height: 0.8rem;
  left: -5.5rem;
  box-shadow: 0 0 0 4px hsl(0, 0%, 100%);
  border-radius: 100%;
}

/* COURSES */
.courses .courses-content .card {
  cursor: pointer;
}

.courses .courses-content .card .text {
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 0.625rem 0 0.4375rem 0;
}

/* CONTACT */
.contact .contact-content .column {
  width: calc(50% - 1.875rem);
}

.contact .contact-content .text {
  font-size: 1.4375rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}

.contact .contact-content .left .icons {
  margin: 0.625rem 0;
}

.contact .contact-content .row {
  display: flex;
  align-items: center;
  background-color: hsl(212.1, 100%, 19.4%);
  margin-top: 0.9375rem;
  padding-left: 0.9375rem;
  height: 4.0625rem;
  border-radius: 4px;
}

.contact .contact-content .row .info {
  margin-left: 1.875rem;
}

.contact .contact-content .row i {
  color: hsl(210.1, 100%, 50%);
  font-size: 1.5625rem;
}

.contact .contact-content .info .head {
  font-size: 1.0625rem;
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: hsl(0, 0%, 100%);
  font-size: 0.875rem;
}


.contact .right {
  margin-bottom: 6.25rem;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  margin-bottom: 0.9375rem;
  width: 100%;
  height: 2.8125rem;
}

.contact .right form .textarea {
  width: 100%;
  height: 5rem;
}

.contact .right form .name {
  margin-right: 0.625rem;
}

.contact .right form .email {
  margin-left: 0.625rem;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  font-size: 1.0625rem;
  font-family: "Poppins", sans-serif;
  padding: 0 0.9375rem;
  width: 100%;
  height: 100%;
  border: 1px solid hsl(0, 0%, 75.3%);
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: hsl(0, 0%, 45.9%);
}

.contact .right form .textarea textarea {
  padding-top: 0.625rem;
  resize: none;
}

.contact .right form .button {
  width: 10.625rem;
  height: 2.9375rem;
}

.contact .right form .button button {
  background: hsl(210.1, 100%, 50%);
  color: hsl(0, 0%, 100%);
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.625rem;
  width: 100%;
  height: 100%;
  border: 2px solid hsl(210.1, 100%, 50%);
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact .right form .button button:hover {
  background: none;
  color: hsl(210.1, 100%, 50%);
}

a:link {
  color: hsl(210.1, 100%, 50%);
}

a:visited {
  color: hsl(0, 0%, 45.9%);
}

a:hover {
  color: hsl(212.7, 100%, 6.5%);
}

/* FOOTER */
footer {
  background: hsl(210.1, 100%, 50%);
  color: hsl(0, 0%, 100%);
  padding: 0.9375rem 1.4375rem;
  text-align: center;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  background-color: hsl(212.7, 100%, 6.5%);
  width: .6rem;
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: hsl(212.1, 100%, 19.4%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(210.1, 100%, 50%);
}

/* MEDIA QUERIES */
@media (min-width: 50.0625em) and (max-width: 75em) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about .about-content .left {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
  }

  .about .about-content .right {
    width: 100%;
  }
}

@media screen and (max-width: 65.75em) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .navbar .menu {
    background: hsl(212.7, 100%, 6.5%);
    padding-top: 3.125rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    text-align: center;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-size: 1.5625rem;
    margin: 1.25rem 0;
  }

  .navbar .menu li a:hover {
    color: hsl(210.1, 100%, 50%);
  }
}

@media screen and (min-width: 50em) and (max-width: 62.5625em) {
  .projects-content .card {
    width: calc(50% - 1.25rem);
  }

  .projects .btn-code,
  .projects .btn-demo {
    padding: 0.625rem 0.46875rem;
  }
}

@media screen and (max-width: 50em) {
  .max-width {
    max-width: 58.125rem;
  }

  .home .home-content .text-2 {
    font-size: 4.375rem;
  }

  .home .home-content .text-3 {
    font-size: 2.1875rem;
  }

  .home .home-content a {
    font-size: 1.4375rem;
    padding: 0.625rem 1.875rem;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 3.75rem;
  }

  .about .about-content .right {
    flex: 100%;
  }

  .interests .interests-content .card {
    margin-bottom: 1.25rem;
    width: calc(50% - 0.625rem);
  }

  .projects .projects-content .card {
    margin-bottom: 1.25rem;
    width: 100vw;
  }

  .experiences .experiences-content {
    width: calc(50% - 2rem);
    margin: 1rem auto auto 11rem;
  }

  .courses .courses-content .card {
    margin-bottom: 1.25rem;
    width: calc(50% - 0.625rem);
  }

  .contact .contact-content {
    flex-direction: column;
  }

  .contact .contact-content .column {
    width: 100%;
  }
}

@media screen and (max-width: 40.625em) {
  .max-width {
    padding: 0 1.4375rem;
  }

  .home .home-content .text-2 {
    font-size: 3.75rem;
  }

  .home .home-content .text-3 {
    font-size: 2rem;
  }

  .home .home-content a {
    font-size: 1.25rem;
  }

  .interests .interests-content .card,
  .projects .projects-content .card {
    width: 100%;
  }

  .skills .skills-content {
    grid-template-columns: 1fr;
    max-width: 70%;
    margin: 0 auto;
  }

  .skills .skills-content .text {
    text-align: center;
  }

  .skills .tech-icons {
    justify-self: center;
    align-self: center;
    margin: 0.625rem 0;
  }

  .experiences .experiences-content {
    margin: 1rem auto auto 13rem;
  }

  .courses .courses-content .card {
    width: 100%;
  }
}

@media screen and (max-width: 25em) {
  .max-width {
    padding: 0 0.9375rem;
  }

  .contact .contact-content .info .sub-title {
    word-break: break-word;
  }
}

@media screen and (max-width: 23em) {
  .skills .skills-content {
    grid-template-columns: 1fr;
    max-width: 100%;
    margin: 0 auto;
  }

  .skills .tech-icons {
    justify-self: center;
    align-self: center;
    margin: 0.625rem;
  }
}